body {
  background: #666;
  text-align: center;
  padding: 0;
  margin: 0;
}
main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
}
canvas {
  background: white;
}
